.app{
  width: 100%;
  margin: auto;
  font-family: 'Open Sans', serif;
}

.board-editor{
  display: table;
  margin: 0 auto;
}

.app h1{
  text-align: center;
}

.board-element{
  background-color: grey;
  border: 2px groove lightgrey;
  padding: none;
  margin: none;
  display: inline-block;

  width: 20px;
  height: 20px;
}

.color-picker-element{
  display: block;
  color: grey;
}

.color-picker-element-button, .color-picker-element h3{
  display: inline-block;
  vertical-align: middle;
}

.color-picker-element-button{
  background-color: grey;
  border: 3px solid lightgrey;
  border-radius: 5px;
  padding: none;
  margin: none;

  width: 30px;
  height: 30px;
}

.color-picker-element h3{
  margin-left: 20px;
}

.color-picker, .board, .editor-controls{
  float: left;
  display: block;
  margin: 15px;
}

.active{
  border-color: red;
  color: black;
}


.editor-controls button{
  display: block;
  margin-bottom: 20px;
  padding: none;

  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 18px;
  background-color: white;

  width: 120px;
  padding: 10px;
}

.start{
  color: black;
  border: 2px solid green;
}

.start:hover{
  background-color: green;
  color: white;
}

.reset{
  color: black;
  border: 2px solid blue;
}

.reset:hover{
  background-color: blue;
  color:white;
}

.clear{
  color: black;
  border: 2px solid red;
}

.clear:hover{
  background-color: red;
  color:white;
}

.search-dropdown{
  margin-bottom: 20px;
}

.search-dropdown-button{
  border: 2px solid grey;
}

.search-dropdown:hover .search-dropdown-button{
  background-color: gainsboro;
}

.search-dropdown button{
  margin: 0;
}

.search-dropdown-contnent{
  display: none;
}

.search-dropdown:hover .search-dropdown-contnent{
  display: block;
}

.dropdown-content-button:hover{
  background-color: gainsboro;
}
